body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background:linear-gradient(120deg, #1db954, #191414);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(120deg, #1db954, #191414);
    background-size: cover;
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
  }
  
  .login-box .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .login-box .forgot-password a {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #d8c3a5;
    font-size: 16px;
    cursor: pointer;
  }
  