<div class="login-container flex items-center justify-center min-h-screen bg-cover">
  <div class=" bg-opacity-10 p-10 rounded-lg shadow-lg text-center max-w-sm w-full">
    <img src="../../assets/logo.png" alt="Logo" class="mx-auto mb-8" />
      <button class="w-full p-3 rounded bg-black text-d8c3a5 cursor-pointer focus:outline-none" (click)="login()">
        <p
          class="w-full p-3 rounded text-white font-bold cursor-pointer focus:outline-none block text-center">Login</p>
      </button>
  </div>
</div>