<!-- <div *ngFor="let product of products" class="grid">
  <div class="rounded shadow-lg">
    <div class="px-6 py-4">
      <a
        class="font-bold text-xl mb-2"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
      <p class="text-gray-700 text-base" *ngIf="product.description">
        {{ product.description }}
      </p>
      <p class="text-gray-700 text-base" >
        Stock left: {{ product.stock }}
      </p>
    </div>
    <div class="px-6 pb-2">
      <span class="inline-block text-sm font-semibold text-gray-700 mr-2 mb-2">
        <button type="button" (click)="share()">Share</button></span
      >
      <span class="inline-block text-sm font-semibold text-gray-700 mr-2 mb-2">
        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
      </span>
      <span class="inline-block text-sm font-semibold text-gray-700 mr-2 mb-2">
        <app-quick-buy [product]="product"></app-quick-buy>
      </span>
    </div>
  </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
--> -->
